//mixin
@mixin fonts($spacing,$fontsize, $align){
	letter-spacing: $spacing;
	font-size: $fontsize;
	text-align: $align;
}


nav.menu{
	background-color: $mainColor;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
	position: sticky;
	overflow: hidden;
			ul.menu_items{
			font-family: $secondFont;
			font-size: $mdSize;
			letter-spacing: 2px;
			text-transform: uppercase;
			@include fonts(2px, 1.5rem, 0);
			}
			a:hover{
				color: $animateColor;
				}
		}

/*index*/
.carrousel{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}


/*Página de Contacto*/
form{
	width: $ochentaAncho;
	margin: 0 auto;
	background-color: $blanco;
	opacity: 0.5;
	filter: alpha(opacity=50);
	color: $formColor;
	font-family: $secondFont;
	@include fonts(1px, 2rem, center);

}

/*Página de Productos*/
.fila-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	}

table{
  	@include fonts(1px, 1.5rem, center)
  	font-family: $secondFont;
	color: $tableColor;
}

/*Página de Servicios*/
figure{
 	width: $treintaAncho;
 		&:hover{
 			border: 1px solid lightcoral;
 			transition: transform .2s;
			transform: scale(1);
 		img{
 		width: $porcentajeMax;
		height: auto;
		}
	}
}

//clases
.figure-text{
 			@include fonts(1px, 1.5rem, center)
			text-shadow: 2px 2px 5px purple;
			padding: 0.7em;
			font-family: $secondFont;
			color: $tableColor;
 		}

 .galeria{
 			margin: 10px 20px;
			box-shadow: 0 4px 8px 0 lightpink, 0 6px 20px 0 rgba(0,0,0,0.19);
			width: 350px;
		}

a{
	text-decoration: none;
}

.rights{
	font-family: serif;
	text-align: center;
	color: $formColor;
}