//Estilos de fuentes
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Koulen&display=swap');
//font-family: 'Akshar', sans-serif;
//font-family: 'Koulen', cursive;
$mainFont: 'Koulen', cursive;
$secondFont: 'Akshar', sans-serif;

//Tamaños de fuentes
 $mdSize: 1.5rem;
 $lSize:  2.5em;
 $xlSize: 4em;
 $formSize: 2rem; 
//media queries
 $smSize: 0.5em;
 $xsSize: 0.4em;
 $textRes: 0.8em;

