/*media queries*/
@media screen and (max-width: 300px) {
	.carrousel{
		display: flex;
			flex-flow: column wrap;
			justify-content: flex-start;
			align-items: center;
		}
	#footer{
			display: block;
			align-items: center;
		}

	.somosMeraki{
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
		}

	.galeria-flex{
			display: grid;
			grid-template-columns: repeat(1,1fr);
			grid-template-rows: repeat(5, auto);
			grid-template-areas: "encabezado"
			"figUno"
			"figDos"
			"figTres"
			"footer";

		}

	.titulos{
			font-size: 1em;
			text-shadow:purple;
			letter-spacing: 0;
				}

	.textos{
			font-size: 0.8em;
			text-shadow:black;
			letter-spacing: 0;
			text-transform: uppercase
				}
	form{
			width: 100%;
		}
}

@media screen and (max-width: 768px){
 		#footer{
			display: block;
			align-items: center;
		}

		.carrousel{
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}

		.somosMeraki{
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
		}

		.galeria-flex{
			display: grid;
			grid-template-columns: repeat(1,1fr);
			grid-template-rows: repeat(5, auto);
			grid-template-areas: "encabezado"
			"figUno"
			"figDos"
			"figTres"
			"footer";
		}

		.titulos{
			font-size: 1.5em;
			text-shadow:purple;
			letter-spacing: 0;
				}

		.textos{
			font-size: 1em;
			text-shadow: black;
			letter-spacing: 0;
			text-transform: uppercase
				}
		figure{
 		width: 30%;
 			}
 		form{
	    width: 80%;
	    font-size: 1.5rem;
	}	
}

