//Colores del sitio
$mainColor: #F9CCE0; //nav-color
$secondColor: #BD6F95; //textos
$thirdColor: #E494BA; //footer
$animateColor: #ADA5A5; //hover-nav
$tableColor: #040101; 
$formColor: black;
$blanco: white;

//anchos
$cienAncho: 100vw;
$porcentajeMax: 100%;
$ochentaAncho: 80vw; //página contacto
$treintaAncho: 30%; //figure